name: Sync to Prod Repo

on:
    push:
        branches:
            - dev1

jobs:
    sync:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout dev repo
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  ref: main

            - name: Configure Git
              run: |
                  git config --global user.name "offbeatdevops-developer"
                  git config --global user.email "offbeatdevops@gmail.com"

            - name: Push to prod repo
              env:
                  PROD_TOKEN: ${{ secrets.PROD_REPO_TOKEN }}
              run: |
                  git remote add prod https://${PROD_TOKEN}@github.com/Offbeat-Applications/Offbeat-Backend-Prod.git
                  git push prod HEAD:dev --force
